@page "/RoutineBuilder"
<input type="text" placeholder="Name" class="input input-bordered input-primary w-full my-1" />
<div class="divider w-full text-secondary"></div>
<div>
    <div class="card w-75 bg-primary text-primary-content card-compact my-2">
  <div class="card-body">
    <h2 class="card-title">Card title!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
</div>
    <div class="card w-75 bg-primary text-primary-content card-compact my-2">
  <div class="card-body">
    <div class="card-title">
        Card title!
        <div class="card-actions justify-end">
      <button class="btn btn-square btn-sm btn-success">
                        <ion-icon name="pencil-outline"></ion-icon>
      </button>
      </div>
        </div>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
</div>
    <div class="card w-75 bg-primary text-primary-content card-compact my-2">
  <div class="card-body">
    <h2 class="card-title">Card title!</h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
  </div>
</div>
</div>
@code {

}
