@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <div class="input-field">
            <input type="text" class="transparent" placeholder="Username" asp-for="Input.Username" autofocus>
        </div>
        <span asp-validation-for="Input.Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="input-field">
            <input type="password" class="transparent" placeholder="Password" asp-for="Input.Password" autofocus>
        </div>
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="input-field">
            <input type="password" class="transparent" placeholder="ConfirmPassword" asp-for="Input.ConfirmPassword" autofocus>
        </div>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button class="waves-effect btn-flat" name="button" value="register">Register</button>
    <button class="waves-effect btn-flat" name="button" value="cancel">Cancel</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
